PORT=3000
TZ=UTC
NODE_ENV=development
DATABASE_URL=postgresql://postgres:123456@localhost:5432/payment_db
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
PAYOS_API_URL=https://api-merchant.payos.vn
PAYOS_RETURN_URL=http://localhost:3000/success
PAYOS_CANCEL_URL=http://localhost:3000/cancel
PAYOS_CLIENT_ID=87444897-c5cb-49e9-9ffd-ee6d92735d0b
PAYOS_API_KEY=a56f47dd-ce63-4255-a5b7-508c0deeda61
PAYOS_CHECKSUM_KEY=d6091e56717b854859301ed245642a5a1c7e94d612bd8e6714817c6ff5d78f9a

BANK_LIST_API_URL=https://api.vietqr.io/v2/banks
